{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container bordered">
    <a href="{% url 'Matrimony:new_profile' %}" class="btn btn-warning">New profile</a>
    <hr>
    <div class="row">
        {% for profile in profiles %}
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">{{ profile.name }}</h5>
                    <a href="{% url 'Matrimony:profile_detail' profile.id %}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
            <p></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


